/* 调整侧边栏字体缩进 */
.sidebar-item {
  padding-left: 0px; /* 根据需要调整缩进距离 */
}

.sidebar-group a.sidebar-link {
  padding-left: 1.3rem !important;
}

/* 内容区域宽度 */
/* .theme-default-content {
  max-width: 77rem !important;
} */
/* 分页区域宽度 */
/* .page-nav {
  max-width: 77rem !important;
} */

/* 设置首页图标 */
.theme-container .home .hero img {
  border-radius: 20px;
}

/* 头部图标 */
.theme-container .logo {
  border-radius: 5px;
}

/* .theme-container .page .theme-default-content {
  margin: 0;
} */

/* .theme-container .page .page-nav {
  margin: 0;
} */

/* 右侧目录插件样式 */
.right-menu {
  top: 0.6rem !important;
}

/* 右侧目录插件样式 */
.right-menu .ra-button {
  display: none;
}

@media (max-width: 768px) {
  .ra-wrapper.right-menu {
    display: none !important;
  }
}

/* 表格宽度 */
.theme-container .page .theme-default-content table th,
td {
  /* min-width: 158px; */
  /* min-width: 13.3rem; */
  width: 500px;
}

/* 第二列表格宽度 */
.theme-container .page .theme-default-content table th:nth-child(2),
.theme-container .page .theme-default-content table td:nth-child(2) {
  width: 2000px;
}

/* 图标 */
.theme-container.icon-page-class .demo-block .demo-content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 按钮 */
/* .theme-container.button-page-class .demo-block .demo-content div {
  display: flex;
  justify-content: space-between;
} */

/* 代码块语言位置 */
.code-content div[class*="language-"]::before {
  top: 1em;
}

/* 代码块间距 */
.code-content .theme-default-content pre,
.theme-default-content pre[class*="language-"] {
  margin: 0;
}
