/* 调整侧边栏字体缩进 */
.sidebar-item {
  padding-left: 0px; /* 根据需要调整缩进距离 */
}

.sidebar-group a.sidebar-link {
  padding-left: 1.3rem !important;
}

/* 内容区域宽度 */
.theme-default-content {
  max-width: 960px !important;
}
/* 分页区域宽度 */
.page-nav {
  max-width: 960px !important;
}

/* 设置首页图标 */
.theme-container .home .hero img {
  border-radius: 20px;
}

/* 头部图标 */
.theme-container .logo {
  border-radius: 5px;
}

.theme-container .page .theme-default-content {
  margin: 0;
}

.theme-container .page .page-nav {
  margin: 0;
}

/* 右侧目录插件样式 */
.right-menu {
  top: 0.6rem !important;
}

/* 右侧目录插件样式 */
.right-menu .ra-button {
  display: none;
}

.theme-container .page .theme-default-content table th,td{
  min-width: 158px;
}