@import "./variables.scss";

.c-button {
	display: inline-block;
	margin: 0;
	padding: 10px 20px;
	cursor: pointer;
	color: $color-gray-black-1;
	background: $color-white;
	white-space: nowrap;
	outline: none;
	border: 1px solid $color-gray;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
}

.c-button-default {
	transform: all 0.2s;
	&:active {
		background: $color-gray-light-3;
		box-shadow: 0 0 5px 0px $color-primary;
	}
	&:hover {
		border-color: $color-primary;
		color: $color-primary;
	}
}

.c-button-primary {
	color: $color-gray-light-3;
	background: $color-primary;
	border: none;
	&:active {
		background: $color-primary-light-2;
		box-shadow: 0 0 6px -1px $color-primary-light-2;
	}
}

.c-button-success {
	color: $color-gray-light-3;
	background: $color-success;
	border: none;
	&:active {
		background: $color-success-light-2;
		box-shadow: 0 0 6px -1px $color-success-light-2;
	}
}

.c-button-info {
	color: $color-gray-light-3;
	background: $color-info;
	border: none;
	&:active {
		background: $color-info-light-2;
		box-shadow: 0 0 6px -1px $color-info-light-2;
	}
}

.c-button-danger {
	color: $color-gray-light-3;
	background: $color-danger;
	border: none;
	&:active {
		background: $color-danger-light-2;
		box-shadow: 0 0 6px -1px $color-danger-light-2;
	}
}

.c-button-warning {
	color: $color-gray-light-3;
	background: $color-warning;
	border: none;
	&:active {
		background: $color-warning-light-2;
		box-shadow: 0 0 6px -1px $color-warning-light-2;
	}
}

.c-button-disabled {
	opacity: 0.4;
	cursor: no-drop;

	&:hover,
	&focus {
		opacity: 0.4;
		cursor: no-drop;
	}
}

.c-button-default.c-button-disabled {
	&:hover,
	&focus {
		opacity: 0.4;
		cursor: no-drop;
		color: $color-gray-black-1;
		border: 1px solid $color-gray;
	}
}

.c-button-circle {
	border-radius: 10px;
}

.c-button-ghost {
	background: none;
	&:hover,
	&focus {
		background: $color-gray-light-2;
	}
}

.c-button-info.c-button-ghost {
	color: $color-info;
	border: 1px solid $color-info;
}

.c-button-primary.c-button-ghost {
	color: $color-primary;
	border: 1px solid $color-primary;
}

.c-button-success.c-button-ghost {
	color: $color-success;
	border: 1px solid $color-success;
}

.c-button-warning.c-button-ghost {
	color: $color-warning;
	border: 1px solid $color-warning;
}

.c-button-danger.c-button-ghost {
	color: $color-danger;
	border: 1px solid $color-danger;
}
