@import "./variables.scss";

.c-button {
	display: inline-block;
	margin: 0;
	padding: 10px 20px;
	cursor: pointer;
	color: #333;
	background: #fff;
	white-space: nowrap;
	outline: none;
	border: 1px solid #666;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
}

.c-button-default {
	transform: all 0.2s;
	&:active {
		background: #f8f8f9;
		box-shadow: 0 0 5px 0px $color-primary;
	}
	&:hover {
		border-color: $color-primary;
		color: $color-primary;
	}
}

.c-button-primary {
	color: #fefefe;
	background: $color-primary;
	border: none;
	&:active {
		background: #038ddd;
		box-shadow: 0 0 6px -1px $color-primary;
	}
}

.c-button-success {
	color: #fefefe;
	background: $color-success;
	border: none;
	&:active {
		background: $color-success-light-5;
		box-shadow: 0 0 6px -1px $color-success-light-5;
	}
}

.c-button-info {
	color: #fefefe;
	background: $color-info;
	border: none;
	&:active {
		background: #4471da;
		box-shadow: 0 0 6px -1px #4471da;
	}
}

.c-button-danger {
	color: #fefefe;
	background: $color-danger;
	border: none;
	&:active {
		background: #f86c34;
		box-shadow: 0 0 6px -1px #f86c34;
	}
}

.c-button-warning {
	color: #fefefe;
	background: $color-warning;
	border: none;
	&:active {
		background: #fcb830;
		box-shadow: 0 0 6px -1px #fcb830;
	}
}

.c-button-disabled {
	opacity: 0.4;
	cursor: no-drop;

	&:hover,
	&focus {
		opacity: 0.4;
		cursor: no-drop;
	}
}

.c-button-default.c-button-disabled {
	&:hover,
	&focus {
		opacity: 0.4;
		cursor: no-drop;
		color: #333;
		border: 1px solid #dcdee2;
	}
}

.c-button-circle {
	border-radius: 10px;
}

.c-button-ghost {
	background: none;
	&:hover,
	&focus {
		background: #e8eaec;
	}
}

.c-button-info.c-button-ghost {
	color: #6f8bca;
	border: 1px solid #6f8bca;
}

.c-button-primary.c-button-ghost {
	color: $color-primary;
	border: 1px solid $color-primary;
}

.c-button-success.c-button-ghost {
	color: #26cdcb;
	border: 1px solid #26cdcb;
}

.c-button-warning.c-button-ghost {
	color: #ffc143;
	border: 1px solid #ffc143;
}

.c-button-danger.c-button-ghost {
	color: #ff7f4c;
	border: 1px solid #ff7f4c;
}
