// 该文件主要是负责定义全局的样式变量，例如颜色、字体大小等等
// 主题色
$color-primary: #1890ff;
$color-primary-light-1: #2F9BFF;
$color-primary-light-2: #45A5FF;
$color-primary-light-3: #5BB0FF;
$color-primary-light-4: #7CC0FF;
$color-primary-light-5: #92CAFF;

$color-info: #6618EE;
$color-info-light-1: #8546F1;
$color-info-light-2: #945DF3;
$color-info-light-3: #A374F5;
$color-info-light-4: #B38CF6;
$color-info-light-5: #C2A3F8;

$color-success: #52C41A;
$color-success-light-1: #63E223;
$color-success-light-2: #7AE744;
$color-success-light-3: #92EB65;
$color-success-light-4: #A9EF86;
$color-success-light-5: #C8F5B2;

$color-warning: #FAAD14;
$color-warning-light-1: #FBB833;
$color-warning-light-2: #FBC351;
$color-warning-light-3: #FCCA66;
$color-warning-light-4: #FCD17A;
$color-warning-light-5: #FDDFA3;

$color-danger: #f5222d;
$color-danger-light-1: #f5222d;
$color-danger-light-2: #F75D65;
$color-danger-light-3: #F87077;
$color-danger-light-4: #FA8D92;
$color-danger-light-5: #FBA9AD;
