// 该文件主要是负责定义全局的样式变量，例如颜色、字体大小等等
// 主题色
$color-primary: #1890ff;
$color-primary-light-1: #2f9bff;
$color-primary-light-2: #45a5ff;
$color-primary-light-3: #5bb0ff;
$color-primary-light-4: #7cc0ff;
$color-primary-light-5: #92caff;

$color-info: #5c6bc0;
$color-info-light-1: #7b87cc;
$color-info-light-2: #8994d1;
$color-info-light-3: #98a2d7;
$color-info-light-4: #a7afdd;
$color-info-light-5: #c4cae8;

$color-success: #24DA67;
$color-success-light-1: #38DF75;
$color-success-light-2: #4DE283;
$color-success-light-3: #62E592;
$color-success-light-4: #81EBA8;
$color-success-light-5: #ABF1C5;

$color-warning: #FFC116;
$color-warning-light-1: #FFC72C;
$color-warning-light-2: #FFCD43;
$color-warning-light-3: #FFD359;
$color-warning-light-4: #FFD96F;
$color-warning-light-5: #FFEAB1;

$color-danger: #f44336;
$color-danger-light-1: #f55246;
$color-danger-light-2: #f66359;
$color-danger-light-3: #f7746b;
$color-danger-light-4: #f99790;
$color-danger-light-5: #fccbc8;

// 中性色
$color-black: #000000;
$color-gray-black-2: #222222;
$color-gray-black-1: #333333;
$color-gray: #808080;
$color-gray-light-1: #cccccc;
$color-gray-light-2: #e0e0e0;
$color-gray-light-3: #f5f5f5;
$color-white: #ffffff;
